:root {
  --c-text: rgb(0, 0, 0);
  --c-background: #ffffff;
  --c-primary: #7c0283;
  --c-secondary: #460349;
  --c-accent: #98161b;

  --font-family: "Work Sans", sans-serif;

  /* --c-text: #ffffff;
    --c-background: #011426;
    --c-primary: #066ACF;
    --c-secondary: #032B54;
    --c-accent: #68AEF4; */
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--c-text);
  background-color: var(--c-background);

  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overscroll-behavior: none;

  font-family: var(--font-family);
  font-style: normal;
}

img {
  user-drag: none;
  /* Standard */
  -webkit-user-drag: none;
  /* Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  pointer-events: none;
  /* Prevent pointer events */
}

/* a tags */
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: var(--c-background);
  opacity: 0.6;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%; /* Initially hidden */
  height: 1px;
  background-color: var(--c-background);
  transition: width 0.3s;
}

a:hover::after {
  width: 100%; /* Fill line on hover */
}
