main {
    position: absolute;
    z-index: 1;
    width: 100%;
}


section {
    min-height: 100vh;
    width: 100%;
}

/* - - - - welcome section - - - - */
#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome_div  {
    width: 100%;
    width: 640px;
    height: 360px;
    padding: 40px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

